apiVersion: apps/v1
kind: Deployment
metadata:
  name: first-project
  labels:
    app: prod
spec:
  replicas: 5
  selector:
    matchLabels:
      app: prod
  template:
    metadata:
      labels:
        app: prod
    spec:
      containers:
      - name: container1
        image: sachinchauhan9527/novmonth-image
        ports:
        - containerPort: 5000
~

